<div class="action-container">
	<button class="fancy" (click)="openAddMealPopup()">
		Add Meal
	</button>

	@if (isPopupVisible()) {
		<app-add-meal
			class="popup-right"
			[mealToEdit]="mealToEdit()"
			(close)="closeMealPopup()"
			(mealSaved)="handleMealSaved()"
		></app-add-meal>
	}
</div>

@if (meals() && meals().length > 0) {
	<div class="meals-container">
		@for(meal of meals(); track meal.id ?? $index) {
			<app-meal-plan [meal]="meal" [index]="$index" [onEdit]="openEditMealPopup.bind(this)" [onDelete]="handleMealDelete.bind(this)"></app-meal-plan>
		}
	</div>
} @else {
	<div class="empty-state">
		<h3>No Meals Yet</h3>
		<p>Click "Add Meal" to start planning your meals!</p>
	</div>
}
