$color-green-1: #6FC276;
$color-green-2: #4CAF50;
$color-green-3: #2E7D32;
$color-green-4: #105B37;
$color-green-5: #0A3D23;

// Orange Palette
$color-orange-1: #C85A04;
$color-orange-2: #E67E22;
$color-orange-3: #FF9800;
$color-orange-4: #FFB74D;
$color-orange-5: #FFCC80;

body {
	background-color: #9ad49f !important;
}

.start {
	display: flex;
	flex-direction: column;
	justify-content: center; /* vertical centering */
	align-items: center;     /* horizontal centering */
	text-align: center;
	height: 400px; /* optional: centers it in the full screen */

	.room {
		color: #105B37; /* green */
		font-family: "Britannic", fantasy;
		font-size: 80px;
	}

	.food {
		color: #FF8F00;
		font-family: "Britannic", fantasy;
		font-size: 80px;
	}

	.subtitle {
		text-align: center;
		max-width: 600px; /* controls when it breaks into two lines */
		font-size: 18px;
		line-height: 1.5;
		color: #0A3D23;
		font-family: "SansSerif", sans-serif;
		font-weight: bold;
	}

	.buttons {
		display: flex;
		gap: 15px;
	}

	.get-start-btn {
		padding: 10px 20px;
		border-radius: 25px;
		font-size: 18px;
		border: none;
		cursor: pointer;
		background-color: #FF9800;
		font-family: "SansSerif", sans-serif;
		font-weight: bold;
		color: white;
	}

	.learn-more-btn{
		padding: 10px 20px;
		border-radius: 25px;
		font-size: 18px;
		border: none;
		cursor: pointer;
		background-color: #2E7D32;
		font-family: "SansSerif", sans-serif;
		font-weight: bold;
		color: white;
	}
}

