$color-green-1: #6FC276;
$color-green-2: #4CAF50;
$color-green-3: #2E7D32;
$color-green-4: #105B37;
$color-green-5: #0A3D23;

// Orange Palette
$color-orange-1: #C85A04;
$color-orange-2: #E67E22;
$color-orange-3: #FF9800;
$color-orange-4: #FFB74D;
$color-orange-5: #FFCC80;

.action-container {
	position: relative;
	display: inline-block;
	vertical-align: top;

	.popup-right {
		position: absolute;
		left: 100%;
		margin-left: 10px;
		top: 0;
		z-index: 100;
		white-space: nowrap;
	}
}
