<section>
	<form class="login-container" [formGroup]="signUpForm" (ngSubmit)="onFormSubmit()" autocomplete="off">
		<header>
			<h4>
				Sign up
			</h4>
		</header>

		<div class="field-group">
			<label for="username">Username</label>
			<input formControlName="username" id="username" type="text" placeholder="e.g. AlexJohnson">

			<aside *ngIf="signUpForm.get('username')?.touched && signUpForm.get('username')?.invalid">
				<span *ngIf="signUpForm.get('username')?.hasError('required')">Username is required</span>
				<span *ngIf="signUpForm.get('username')?.hasError('pattern')">No spaces or special characters allowed</span>
			</aside>
		</div>

		<div class="field-group">
			<label for="password">Password</label>
			<input formControlName="password" id="password" type="password" placeholder="Password" autocomplete="new-password">
			<aside *ngIf="signUpForm.get('password')?.touched && signUpForm.get('password')?.invalid">
				<span *ngIf="signUpForm.get('password')?.hasError('required')">Password is required</span>
				<span *ngIf="signUpForm.get('password')?.hasError('minlength')">Password must be at least 8 characters</span>
				<span *ngIf="signUpForm.get('password')?.hasError('pattern')">Password must contain at least one number and one special character (!&#64;#$%^&*)</span>
			</aside>
		</div>

		<div class="error-msg">
			<span>{{ signUpError() }}</span>
		</div>

		<button  type="submit">
			Sign up
		</button>

		<nav>
			<a [routerLink]="['/login']">Already have an account?</a>
		</nav>
		<hr>
	</form>
</section>
