<div class="search-container">
	<div class="search-input-wrapper">
		<input
			type="text"
			class="search-input"
			[value]="query()"
			(input)="onInput($any($event.target).value)"
			(focus)="onFocus()"
			(blur)="onBlur()"
			placeholder="Search ingredients..."
		/>
	</div>

	@if (isOpen() && filteredOptions().length > 0) {
		<div class="dropdown-list">
			@for (option of filteredOptions(); track option.name) {
				<button
					class="dropdown-item"
					(click)="selectOption(option)"
					type="button"
				>
					{{ option.name }}
				</button>
			}
		</div>
	}

	@if (isLoading()) {
		<div class="loading">Loading...</div>
	}
</div>

