$hour-height: 65px;

.month-year{
	height:100px;
}

.wrapper {
	max-width: 75%; // This is your "Skinny" setting
	margin: 0 auto;
	overflow: hidden;
}

.header {
	display: flex;
	.time-spacer { width: 60px; } // Match time-column width
	.day-label { flex: 1; text-align: center; }
}

.container-body {
	display: flex; // Puts times next to the grid
}

.time-column {
	width: 45px;
	flex-shrink: 0;
	.time-slot {
		height: $hour-height;
		font-size: 12px;
		text-align: right;
		padding-right: 10px;
	}
}

.grid-content {
	display: flex;
	flex: 1; // Takes up remaining width

	.day-track {
		flex: 1;
		height: calc(24 * #{$hour-height});
		border-right: 1px solid #e5e5e5;
		position: relative; // So events can be absolute

		// This draws the lines!
		background-image: linear-gradient(#e5e5e5 1px, transparent 1px);
		background-size: 100% $hour-height;
	}
}
