@use "../../styles/theme" as *;
@use "../../styles/form-style" as *;

:host {
	display: block;
	height: calc(100dvh - 68px);
}

.header-container {
	grid-column: 1 / -1;
}

.header {
	grid-column: 1 / -1;
}

.edit-room-wrapper {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	min-height: 100%;
}

.edit-room-form {
	background: $color-white;
	border-radius: 18px;
	padding: 1rem;
	border: 1px solid $color-input-bg;
	width: 100%;
	max-width: 520px;
	box-shadow: 0 8px 20px $color-overlay-3;

	.field-group {
		margin-bottom: 1rem;
	}
}

