<section>
	<form class="login-container form-grid form-grid--single-column" [formGroup]="loginForm" (ngSubmit)="onFormSubmit()"
		autocomplete="on">
		<header class="header-container">
			<h2 class="header">Log in</h2>
		</header>

		<div class="field-group">
			<label for="identifier" class="field-label">Username or e-mail</label>
			<input class="input-field" formControlName="identifier" id="identifier" type="text"
				placeholder="e.g. alex123 or alex@example.com" autocomplete="username">

			@if (loginForm.get('identifier')?.touched && loginForm.get('identifier')?.invalid) {
				<span class="field-error">
					@if (loginForm.get('identifier')?.hasError('required')) {
						Username or e-mail is required
					}
				</span>
			}
		</div>
		<div class="field-group">
			<label for="password" class="field-label">Password</label>
			<input class="input-field" formControlName="password" id="password" type="password" placeholder="Password"
				autocomplete="current-password">
			@if (loginForm.get('password')?.touched && loginForm.get('password')?.invalid) {
				<span class="field-error">
					@if (loginForm.get('password')?.hasError('required')) {
						Password is required
					}
				</span>
			}
		</div>

		<div class="action-row">
			<div class="error-text">
				<span>{{ loginError() }}</span>
			</div>

			<button type="submit" class="btn-primary">
				Log in
			</button>

			<button class="btn-secondary" [routerLink]="['/signup']" [queryParams]="signUpQueryParams">
				Create a new account
			</button>
		</div>

		<hr>
	</form>
</section>
