<section>
	<form class="login-container" [formGroup]="loginForm" (ngSubmit)="onFormSubmit()" autocomplete="on">
		<header>
			<h4>Log in</h4>
		</header>

		<div class="field-group">
			<label for="identifier" class="field-label">Username or e-mail</label>
			<input formControlName="identifier" id="identifier" type="text" placeholder="e.g. alex123 or alex@example.com" autocomplete="username">

			@if (loginForm.get('identifier')?.touched && loginForm.get('identifier')?.invalid) {
				<span class="field-error">
					@if (loginForm.get('identifier')?.hasError('required')) {
						Username or e-mail is required
					}
				</span>
			}
		</div>
		<div class="field-group">
			<label for="password" class="field-label">Password</label>
			<input formControlName="password" id="password" type="password" placeholder="Password" autocomplete="current-password">
			@if (loginForm.get('password')?.touched && loginForm.get('password')?.invalid) {
				<span class="field-error">
					@if (loginForm.get('password')?.hasError('required')) {
						Password is required
					}
				</span>
			}
		</div>

		<div class="error-msg">
			<span>{{ loginError() }}</span>
		</div>

		<button type="submit" class="btn-primary">
			Log in
		</button>

		<nav>
			<a [routerLink]="['/signup']" [queryParams]="signUpQueryParams">Create a new account</a>
		</nav>

		<hr>
	</form>
</section>
