<section>
	<form class="login-container" [formGroup]="loginForm" (ngSubmit)="onFormSubmit()" autocomplete="off">
		<header>
			<h4>Log in</h4>
		</header>

		<div class="field-group">
			<label for="username">Username</label>
			<input formControlName="username" id="username" type="text" placeholder="e.g. Alex Johnson">

			@if (loginForm.get('username')?.touched && loginForm.get('username')?.invalid) {
				<aside>
					@if (loginForm.get('username')?.hasError('required')) {
						<span>Username is required</span>
					}
				</aside>
			}
		</div>
		<div class="field-group">
			<label for="password">Password</label>
			<input formControlName="password" id="password" type="password" placeholder="Password" autocomplete="new-password">
		</div>

		<div class="error-msg">
			<span>{{ loginError() }}</span>
		</div>

		<button type="submit">
			Log in
		</button>

		<nav>
			<a [routerLink]="['/signup']">Create a new account</a>
		</nav>

		<hr>
	</form>
</section>
